.main {
  border: black;
  border-style: solid;
  border-width: 1px;
  margin-left: 500px;
  margin-right: 500px;
  text-align: center;
}
img {
  margin: auto;
  display: block;
}
li{
  list-style: none;
  text-align: center;

}
.imgs {
  position: relative;
  bottom: 400px;
  left: 250px;
  width: 100px;
}