body {
  border:  1px solid black;
  display: inline-block;
}
.main {
  display: flex;
}
.main-logo {
  position: relative;
}
.img2 {
  position: absolute;
  top:0px;
  right: 0px;
  width: 20%;
}
.main-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.main-info__name {
  justify-content: space-between;
  display: flex;
}
.main-info__name li {
  margin: auto 0 0 auto ;
  list-style: none;
}
.info li{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;
}
ul {
  padding: 0px;
}
